In [1]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt  
import os
dataset = pd.read_csv(os.path.expanduser("~/Desktop/team-test-data.csv"))

In [2]:
%matplotlib inline

In [3]:
columns_to_drop = ["ORIGIN", "DEST"]
dataset.drop(labels=columns_to_drop, axis=1, inplace=True)
dataset.fillna(value=0, inplace=True)

In [4]:
dataset.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DEL15,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CRS_ELAPSED_TIME,DISTANCE,CRS_ELAPSED_TIME.1,FLIGHTS,DISTANCE.1
0,2018,1,1,27,6,615,602,-13,0,808,756,-12,0,173,966,173.0,1.0,966.0
1,2018,1,1,27,6,618,614,-4,0,831,813,-18,1,133,679,133.0,1.0,679.0
2,2018,1,1,27,6,830,828,-2,0,1107,1108,1,0,217,1208,217.0,1.0,1208.0
3,2018,1,1,27,6,650,641,-9,0,1250,1242,-8,0,240,1744,240.0,1.0,1744.0
4,2018,1,1,27,6,1824,1810,-14,0,2045,2021,-24,1,141,820,141.0,1.0,820.0

In [5]:
dataset.shape

(4997, 18)

In [6]:
X = dataset.drop('ARR_DEL15', axis=1)  
y = dataset['ARR_DEL15']

In [7]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [8]:
from sklearn.tree import DecisionTreeClassifier  
classifier = DecisionTreeClassifier()  
classifier.fit(X_train, y_train) 
y_pred = classifier.predict(X_test)

In [9]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})  
df

      Actual  Predicted
3571       1          1
2311       0          0
1445       1          1
850        0          0
3378       1          1
2610       1          1
4728       1          1
358        1          1
2383       1          1
4581       1          1
1330       0          0
99         0          0
1811       0          0
3567       0          0
2453       0          0
2879       1          1
588        0          0
2973       0          0
446        0          0
4707       1          1
4354       0          0
3186       0          0
2096       1          1
2971       1          1
650        0          0
1519       0          0
4540       0          0
2726       1          1
4871       0          0
2844       0          0
...      ...        ...
4275       0          0
2622       1          1
535        1          1
1845       1          1
332        0          0
2404       0          0
1569       0          0
1804       0          0
3996       1          1
2336       1          1
3175       1          1
1229       1          1
3016       0          0
2524       0          0
4169       0          0
2768       0          0
2493       0          0
245        0          0
3084       0          0
30         0          0
4007       1          1
3656       1          1
2684       0          0
3917       0          0
2390       1          1
1432       1          1
1346       0          0
2328       1          1
2392       1          1
1127       0          0

[1000 rows x 2 columns]

In [10]:
from sklearn import metrics  
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 0.0
Mean Squared Error: 0.0
Root Mean Squared Error: 0.0

In [12]:
from sklearn.metrics import classification_report, confusion_matrix  
print ("Confusion Matrix: ")
print(confusion_matrix(y_test, y_pred))  
print ("Confusion Report:")
print(classification_report(y_test, y_pred))

Confusion Matrix:
[[495   0]
 [  0 505]]
Confusion Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       495
           1       1.00      1.00      1.00       505

   micro avg       1.00      1.00      1.00      1000
   macro avg       1.00      1.00      1.00      1000
weighted avg       1.00      1.00      1.00      1000

In [13]:
import itertools
import matplotlib.pyplot as plt

In [ ]:
def plot_confusion_matrix(cm,
                          normalize = False,
                          title = 'Confusion Matrix',
                          cmap = plt.cm.Blues):
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    print(cm)
    
    
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    plt.ylabel('ACTUAL')
    plt.xlabel('PREDICTED')
    plt.tight_layout()
    plt.grid('off')
    x_labels = ['on-time','','delay']
    y_labels = ['','on-time','','','','delay']
    ax = fig.add_subplot(111)
    ax.set_xticklabels([' '] + x_labels)
    ax.set_yticklabels([' '] + y_labels)

    fmt = '.2f' if normalize else 'd'
    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, format(cm[i, j], fmt),
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")

    

# Compute confusion matrix
cnf_matrix = confusion_matrix(y_test, y_pred)
np.set_printoptions(precision=2)

# Plot non-normalized confusion matrix
plt.figure()
fig = plt.figure()
plot_confusion_matrix(cnf_matrix, title='Confusion matrix, without normalization')

# Plot normalized confusion matrix
plt.figure()
fig = plt.figure()
plot_confusion_matrix(cnf_matrix, normalize=True,
                      title='Normalized confusion matrix')


plt.show()