In [145]:
import numpy as np
import pandas as pd
import itertools
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelBinarizer, LabelEncoder
from sklearn.metrics import confusion_matrix

In [146]:
excel_file = 'test_data_1.xlsm'
test_data_1 = pd.read_excel(excel_file)
df = test_data_1

In [147]:
data = df.fillna(method='ffill')

In [148]:
df.head(10)

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DEL15,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CRS_ELAPSED_TIME,DISTANCE,CRS_ELAPSED_TIME.1,FLIGHTS,DISTANCE.1
0,2018,1,1,27,6,FLL,IAH,615,602,-13,0,808,756,-12,0,173,966,173.0,1.0,966.0
1,2018,1,1,27,6,SEA,SFO,618,614,-4,0,831,813,-18,1,133,679,133.0,1.0,679.0
2,2018,1,1,27,6,DCA,IAH,830,828,-2,0,1107,1108,1,0,217,1208,217.0,1.0,1208.0
3,2018,1,1,27,6,LAX,ORD,650,641,-9,0,1250,1242,-8,0,240,1744,240.0,1.0,1744.0
4,2018,1,1,27,6,JAX,EWR,1824,1810,-14,0,2045,2021,-24,1,141,820,141.0,1.0,820.0
5,2018,1,1,27,6,IAH,PHX,1420,1413,-7,0,1618,1559,-19,1,178,1009,178.0,1.0,1009.0
6,2018,1,1,27,6,EWR,HNL,815,842,27,1,1438,1457,19,1,683,4962,683.0,1.0,4962.0
7,2018,1,1,27,6,HNL,EWR,1615,1623,8,0,653,630,-23,1,578,4962,578.0,1.0,4962.0
8,2018,1,1,27,6,LAS,SFO,1520,1515,-5,0,1703,1641,-22,1,103,414,103.0,1.0,414.0
9,2018,1,1,27,6,IAD,TPA,1753,1746,-7,0,2019,2001,-18,1,146,811,146.0,1.0,811.0

In [149]:
df = df.drop(['QUARTER','DAY_OF_WEEK','FLIGHTS','ARR_DEL15','CRS_ELAPSED_TIME','DISTANCE','DISTANCE.1','CRS_ELAPSED_TIME.1','DEP_DEL15'], axis=1)

In [150]:
#df.head(8)

In [163]:
#add another column
df['outcome'] = df['ARR_TIME'] - df['CRS_ARR_TIME']

In [164]:
#delayed column
#if flights are delayed more than 15minutes it will show a 1
df['delayed'] = np.where(df['outcome']>=15, 1, 0)

In [165]:
data = df[df.columns[:-1]]
label = df["delayed"]

In [166]:
df.head(10)

,YEAR,MONTH,DAY_OF_MONTH,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,outcome,delayed
0,2018,1,27,FLL,IAH,615,602,-13,808,756,-12,-52,0
1,2018,1,27,SEA,SFO,618,614,-4,831,813,-18,-18,0
2,2018,1,27,DCA,IAH,830,828,-2,1107,1108,1,1,0
3,2018,1,27,LAX,ORD,650,641,-9,1250,1242,-8,-8,0
4,2018,1,27,JAX,EWR,1824,1810,-14,2045,2021,-24,-24,0
5,2018,1,27,IAH,PHX,1420,1413,-7,1618,1559,-19,-59,0
6,2018,1,27,EWR,HNL,815,842,27,1438,1457,19,19,1
7,2018,1,27,HNL,EWR,1615,1623,8,653,630,-23,-23,0
8,2018,1,27,LAS,SFO,1520,1515,-5,1703,1641,-22,-62,0
9,2018,1,27,IAD,TPA,1753,1746,-7,2019,2001,-18,-18,0

In [159]:
train_size = int(len(df) * .8)
print ("Train size: %d" % train_size)
print ("Test size: %d" % (len(df) - train_size))

Train size: 3997
Test size: 1000

In [128]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

X=df[['CRS_ARR_TIME', 'ARR_TIME']]  # Features
y=df['delayed']  # Labels

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [129]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=20,random_state=0)

In [130]:
#Train the model

#np.nan_to_num(X)
#X_test.fillna(X_test.mean())


#lf.fit(X_train,y_train)
#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

# prediction on test set
y_pred=clf.predict(X_test)

In [131]:
#accuracy calculation
from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9753333333333334

In [132]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[1368,    0],
       [  37,   95]], dtype=int64)

In [168]:
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import accuracy_score


accuracy = []

for n in range(1,21):

    clf = KNeighborsClassifier(n_neighbors = n)

    clf.fit(X_train,y_train)

    y_pred = clf.predict(X_test)

    accuracy.append(accuracy_score(y_test,y_pred))